<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Password Generator </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container"> 
    <div class="card text-center">
        <div class="card-header">
          Random Password Generator 
        </div>

        <div class="card-body">
          <form>
            <select name="length">
                <option value="8" selected='selected'>8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
            </select> Length
            <br>
            <input type="checkbox" name="lowercase"> Lowercase
            <br>
            <input type="checkbox" name="numbers">numbers
            <br>
            <input type="checkbox" name ="special">Special Characters
            <br>
            <input type="submit" class="btn btn-primary">Generate Password</a>
          </form>
        </div>
        <div class="card-footer text-muted">
            The generated password is:
         <h2 class="alert alert-success"> {{password}} </h2> 
        </div>
      </div>
    </div>
</body>
</html>